<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="1.8" package="erichstuder.shuttle" android:versionCode="8">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="Shuttle" android:icon="@drawable/splashScreenImage" android:debuggable="true"></application>
</manifest>